.view {
-fx-background-color:green;
}
#Winner {
 -fx-background-color:red;
 -fx-alignment: center;
 -fx-text-fill:black;
 -fx-font-size:25px;
}
#DealerDisplay {
  -fx-background-color:red;
  -fx-alignment: center;
   -fx-text-fill:black;
 -fx-font-size:25px;
}
#guide {
 /*-fx-background-color:blue;*/
 -fx-alignment: center;
 -fx-text-fill:black;
 -fx-font-size:20px;
}
#DealerBank{
    -fx-background-color:red;
  -fx-alignment: center;
   -fx-text-fill:black;
 -fx-font-size:18px;
}
#PlayerBank{
    -fx-background-color:red;
  -fx-alignment: center;
   -fx-text-fill:black;
 -fx-font-size:18px;
}

